@use '../abstracts/' as *;

.sign-in {
    --#{$prefix}sign-in-width: 34rem;
    --#{$prefix}sign-in-margin: 1.6rem;
    
    width: var(--#{$prefix}sign-in-width);
    margin: 0 auto;
    padding-top: 6.5rem;

    &__header {
        text-align: center;
        margin-bottom: var(--#{$prefix}sign-in-margin);
    }

    &__title {
        
    }

    &__body {
        margin-bottom: var(--#{$prefix}sign-in-margin);
    }

    &__footer {
        text-align: center;
    }
}
