<div id="wx-browse" class="offcanvas offcanvas--start" tabindex="-1" aria-labelledby="wx-browse">
    <div class="offcanvas__header border-bottom">
        <h5 class="offcanvas__title fs-20">Browse</h5>

        <button
                type="button"
                class="btn-close"
                data-jsx-dismiss="offcanvas"
                aria-label="Close"
        >
        </button>
    </div>
    <div class="offcanvas__body">
        <nav class="nav">
            <ul class="nav__list d-block column-count-2 fs-14">
                <li class="nav__item break-inside-avoid">
                    <strong>Genres</strong>

                    <ul>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Drama</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Fantasy</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Comedy</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Action</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Slice of Life</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Superhero</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Sci-fi</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Thriller</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Supernatural</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Mystery</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Historical</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">Horror</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item break-inside-avoid">
                    <strong>Popular</strong>

                    <ul>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">New & Trending</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">By Genre</a>
                        </li>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">All-time</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item break-inside-avoid">
                    <strong>Novels</strong>

                    <ul>
                        <li>
                            <a href="#!" class="nav__link d-inline-block mt-1 py-1 px-2">
                                <i class="bi bi-link-45deg"></i>
                                External Site
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
