<div
        id="wx-menu--logged-out"
        class="offcanvas offcanvas--end rounded-start"
        tabindex="-1"
        aria-labelledby="wxMenuLoggedOut"
        style="top: 6.5rem; bottom: 1.6rem; --jsx-offcanvas-transform: translateX(100%) scale(0); transform-origin: top;"
>
    <div class="offcanvas__header border-bottom">
        <h5 class="offcanvas__title ff-architects-daughter fs-24 fw-900 ls-wx">WebtoonsX</h5>

        <button
                type="button"
                class="btn-close"
                data-jsx-dismiss="offcanvas"
                aria-label="Close"
        >
        </button>
    </div>
    <div class="offcanvas__body">
        <div class="d-flex flex-column justify-content-between h-100 gap-3">
            <nav class="nav">
                <ul class="nav__list flex-column align-items-start">
                    <li class="nav__item">item 1</li>
                    <li class="nav__item">item 2</li>
                    <li class="nav__item">item 3</li>
                </ul>
            </nav>
            <nav class="nav">
                <ul class="nav__list flex-wrap">
                    <li class="nav__item col">
                        <a href="{% url 'login' %}" class="btn btn-jsx-wx w-100 nav__link fs-12 text-uppercase">sign in</a>
                    </li>
                    <li class="nav__item col">
                        <a href="#!" class="btn btn-jsx-wx w-100 nav__link fs-12 text-uppercase">sign up</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
